/* Style for country flag images */
.header > * {
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(224, 219, 213);
    margin: 0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: rgb(243, 184, 7);
    background-color: rgba(226, 210, 210, 0.248);
    margin: 0 ;
    gap: 0px;
    padding-top: 10px;
}  
#length {
    font-size: 20px;
    color: black;
    text-align: center;
    font-family: inherit;
    margin: 10px;
}
.divider {
    width: 100%;
    height: 3px;
    background-color: rgb(207, 204, 200);
    margin: 0;
    padding: 0;
    border: none;
} 

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: rgb(243, 184, 7);
    background-color: rgba(227, 211, 211, 0.137);
    margin: 0 ;
    gap: 0px;
    padding-top: 10px;
}

.button{
    display: inline;
}

#language, #population {
    border: none;
    font-size: 18px;
    color: black;
    background-color:  rgb(243, 184, 7);
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
    width: 200px;
}

.bar {
  height: 25px;
  background-color: #f2a93b; 
  margin-right: 10px;
}

.bar-container {
    flex: 1;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
}

.each-country-card{
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 136, 5, 0.034);
    width: 50%;
    margin: 5px auto;
    border: 1px solid rgba(247, 139, 6, 0.353) ;
    border-radius: 10px;
    padding: 10px;
}

.divNameFlag{
    width: 25%;
}

.each-country-card div{
    display: flex;
    align-items: center;
}
.each-country-card img {
    width: 45px;
    height: 30px;
    padding-right: 10px;
}


